################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/crypto_extensions/v16/Browse.VC.db
/crypt_ext/Debug/vcpkg.applocal.log
/crypt_ext/Debug/vc142.pdb
/crypt_ext/Debug/vc142.idb
/crypt_ext/Debug/crypt_ext.vcxproj.FileListAbsolute.txt
/crypt_ext/Debug/crypt_ext.tlog/link.write.1.tlog
/crypt_ext/Debug/crypt_ext.tlog/link.read.1.tlog
/crypt_ext/Debug/crypt_ext.tlog/link.command.1.tlog
/crypt_ext/Debug/crypt_ext.tlog/crypt_ext.write.1u.tlog
/crypt_ext/Debug/crypt_ext.tlog/crypt_ext.lastbuildstate
/crypt_ext/Debug/crypt_ext.tlog/CL.write.1.tlog
/crypt_ext/Debug/crypt_ext.tlog/CL.read.1.tlog
/crypt_ext/Debug/crypt_ext.tlog/CL.command.1.tlog
/crypt_ext/Debug/crypt_ext.tlog
/crypt_ext/Debug/crypt_ext.pdb
/crypt_ext/Debug/crypt_ext.obj
/crypt_ext/Debug/crypt_ext.log
/crypt_ext/Debug/crypt_ext.ilk
/crypt_ext/Debug/crypt_ext.exe
/crypt_ext/Debug
/crypt_ext/crypt_ext.vcxproj.user
/crypt_ext/crypt_ext.vcxproj.filters
/crypt_ext/crypt_ext.vcxproj
/crypt_ext/crypt_ext.sln
/crypt_ext/crypt_ext.cpp
/crypt_ext/.vs/crypt_ext/v16/ipch/AutoPCH/ff9549a1c26d6edc/CRYPT_EXT.ipch
/crypt_ext/.vs/crypt_ext/v16/ipch/AutoPCH/ff9549a1c26d6edc
/crypt_ext/.vs/crypt_ext/v16/ipch/AutoPCH/d53431e39a39e8a5/CLIENT.ipch
/crypt_ext/.vs/crypt_ext/v16/ipch/AutoPCH/d53431e39a39e8a5
/crypt_ext/.vs/crypt_ext/v16/ipch/AutoPCH
/crypt_ext/.vs/crypt_ext/v16/Browse.VC.opendb
/crypt_ext/.vs/crypt_ext/v16/Browse.VC.db-wal
/crypt_ext/.vs/crypt_ext/v16/Browse.VC.db-shm
/crypt_ext/.vs/crypt_ext/v16/Browse.VC.db
/crypt_ext/.vs/crypt_ext/v16/.suo
/crypt_ext/.vs/crypt_ext/v16
/crypt_ext
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/crypto_extensions/v16/ipch/AutoPCH/bd14501b11a343ae/CRYPTO_EXTENSIONS.ipch
/.vs/crypto_extensions/v16/ipch/AutoPCH/bd14501b11a343ae
/.vs/crypto_extensions/v16/.suo
/.vs/crypto_extensions/v16
/.vs
